/* Add your CSS here */
* {
    padding: 0;
    margin: 0;
    --top: #0096A7;
    --middle: #0286C2;
    --bottom: #005A8F;

}

body {
    background: rgb(221, 219, 219);
}
.hero-section {
    background: linear-gradient(135deg, var(--top), var(--middle), var(--bottom));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 20px; 
    
}

.hero-section h1 {
    font-size: 40px;
    max-width: 350px;
    color: white;
}

.hero-section img {
    width: 100px;
}

.hero-section p {
    max-width: 420px;
    line-height: 1.5;
    color: white;
    padding-top: 15px;
}

.cards-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.info-card {
    background: white;
}

.card-description {
    display: none;
}